# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Spark local output
spark-warehouse/
metastore_db/
derby.log

# OS / IDE
.DS_Store
.vscode/
.idea/
